@charset "UTF-8";

/* Reset */

/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Smooch+Sans:wght@100..900&display=swap');

/* Declaração de fontes personalizadas */
@font-face {
    font-family: arthos;
    src: url(../font/Arthos\ demo.ttf) format(truetype);
}

@font-face {
    font-family: bayon-regular;
    src: url(../font/Bayon-Regular.ttf) format(truetype);
}

/* Variáveis de cores */
:root {
    --amarelo: #ffc72c;
    --preto: #1b1a1a;
    --branco: white;
    --cinza: #d9d9d9;
    --bayon: bayon-regular;
    --arthos: arthos;
    --bebas: "Bebas Neue", sans-serif;
    --manrope: "Manrope", sans-serif;
}

/*--------------------- HEADER ---------------------*/
/* Estilos do cabeçalho */

/* Estilo para o menu-burger */
#navbar-menu {
    background-color: #363636; /* Cor de fundo igual à navbar */
}

#navbar-burger.is-active + .navbar-menu {
    background-color: #363636; /* Cor de fundo do menu-burger quando ativo */
}

.navbar-item, .navbar-link {
    color: #ffffff;


}

/*-------------- Body HOME ---------------*/

/*-------------- FORM LOGIN ---------------*/
.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    width: 50%;
    margin: auto;
}

/*---------------------- SERVIÇOS ----------------------*/


/*------------------ ESPORTES ----------------------*/


#img-perfil{
    padding-top: 6%;
}

/*-------------------- FOOTER ---------------------*/
#section-comp{
    height: 80vh;
}
#section-edit{
    height: 70vh;
}
#section-jogos{
    height: 80vh;
}

#section-login{
    height: 80vh;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #fff;
}
a {
    
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: #ffc72c;
}
/*---------------------- MEDIA QUERY ------------------------------------*/
/*-------- Celular ----------*/
@media screen and (max-width: 932px) {
    .box {
        width: 100%;
    }
}
@media screen and (max-width: 1023px) {
    .navbar-menu {
        color: #ffffff;
        box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
        padding: .5rem 0;
        background-color: #363636;
    }
}


/* Media Queries para telas médias e grandes seguem da mesma estrutura */
