@charset "UTF-8";

/* Reset */

/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Smooch+Sans:wght@100..900&display=swap');

/* Declaração de fontes personalizadas */
@font-face {
    font-family: arthos;
    src: url(../font/Arthos\ demo.ttf) format(truetype);
}

@font-face {
    font-family: bayon-regular;
    src: url(../font/Bayon-Regular.ttf) format(truetype);
}

/* Variáveis de cores */
:root {
    --amarelo: #ffc72c;
    --preto: #1b1a1a;
    --branco: white;
    --cinza: #d9d9d9;
    --bayon: bayon-regular;
    --arthos: arthos;
    --bebas: "Bebas Neue", sans-serif;
    --manrope: "Manrope", sans-serif;
}

/*--------------------- HEADER ---------------------*/
/* Estilos do cabeçalho */

/* Estilo para o menu-burger */
#navbar-menu {
    background-color: #363636; /* Cor de fundo igual à navbar */
}

#navbar-burger.is-active + .navbar-menu {
    background-color: #363636; /* Cor de fundo do menu-burger quando ativo */
}

.navbar-item, .navbar-link {
    color: #ffffff;


}

/*-------------- INDEX ---------------*/

/* Definindo a imagem de fundo da seção */
#hero-body {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Pseudo-elemento para aplicar o blur no fundo */
#hero-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/Dribbble\ shot_Gif.gif') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

#hero-body .title,
#hero-body .subtitle {
    color: white; 
    position: relative; 
    z-index: 1; 
}

#hero-body .button {
    background-color: #B9F640;
    border: #B9F640 solid 1px;
}

/* Criar um fundo com blur somente atrás do texto */
#highlight {
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    color: white; 
    z-index: 1;
}


.img-BemEstar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.card-info {
    position: fixed;
    bottom: 70px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 8px;
    display: none;
    width: 200px;
}

.card-info h1 {
    color: white;
    margin-bottom: 10px;
}

.card-info p {
    font-size: 0.8em;
}

.info-section {
    background-color: #f4f4f4;
    padding: 50px 20px;
}

.info-container {
    max-width: 800px;
    margin: 0 auto;
}

.info-content {
    text-align: center;
}

.info-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.info-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007BFF;
    margin-top: 20px;
}

.info-subtitle a {
    text-decoration: underline;
}

.info-subtitle a:hover {
    color: #ca9b1a;
}

/*
.info-button {
    display: inline-block;
    background-color: #ffbb01;
    color: white;
    padding: 12px 25px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.info-button:hover {
    background-color: black;
}
*/

/*-------------- Body HOME ---------------*/

/*-------------- FORM LOGIN ---------------*/
.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    width: 50%;
    margin: auto;
}

/*---------------------- SERVIÇOS ----------------------*/


/*------------------ ESPORTES ----------------------*/


#img-perfil{
    padding-top: 6%;
}

/*-------------------- FOOTER ---------------------*/
#section-comp{
    height: 80vh;
}
#section-edit{
    height: 70vh;
}
#section-jogos{
    height: 80vh;
}

#section-login{
    height: 80vh;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #fff;
}
a {
    
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: #ffc72c;
}
/*---------------------- MEDIA QUERY ------------------------------------*/
/*-------- Celular ----------*/
@media screen and (max-width: 932px) {
    .box {
        width: 100%;
    }
}
@media screen and (max-width: 1023px) {
    .navbar-menu {
        color: #ffffff;
        box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
        padding: .5rem 0;
        background-color: #363636;
    }
}


/* Media Queries para telas médias e grandes seguem da mesma estrutura */
